# Python
__pycache__/
*.py[cod]
*.pyo
.pytest_cache/
*.egg-info/
dist/
build/

# Virtual environments
.venv/
venv/
env/

# Environment variables and secrets
.env
.env.*
*.env

# AWS
.aws/
sam-app/
.aws-sam/
packaged.yaml

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Dependency directories
node_modules/

# Logs
*.log

# Zip files
*.zip